body
{
    margin: 0;
    font-family: 'Arial', sans-serif;
    font-size: 18px;
    color: black;
}

h1,h2,h3,h4{
    margin: 0;
}
/* HEADER */
.header {
    width: 100%;
    padding-top: 15px;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
}

.header_inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}





.header-lg {
    font-size: 22px;
    font-weight: 900;
    color: #fff;
}

.nav
{
    font-size: 14px;
    text-transform: uppercase;
}


.nav_lk
{
    display: inline-block;
    vertical-align: baseline;
    margin: 0 18px;
    position: inherit;
    color: #fff;
    text-decoration: none;
    transition: color .4s linear;
}
    .nav_lk:hover
    {
        color: black;   
    }

.middle
{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 70vh;
    max-height: 220vh;
    padding: 90px 0;
    justify-content: center;
    background: linear-gradient( rgba(0, 32, 0, .55), rgba(0, 0, 80, .4) ) center;
    background-size: cover;
    text-align: center;
}

.middle_inner
{
   width: 100%;
    max-width: 80vw;
    margin: 0 auto;
}

.dddd
{
    font-size: 33px;
    color: white;
}
.middle_text
{
    color: white;
    font-size: 18px;
    font-weight: 500;
    text-transform: none;
    line-height: 2;
}


/* IMAGES */

.images
{
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
    margin-bottom: 100px;
    margin-left: 40px;
    margin-right: 40px;
    height: auto;
}

.images_alt
{
    display: flex;
    margin-top: 30px;
    margin-bottom: 50px;
    margin-left: 15px;
    margin-right: 25px;
}

.img_size
{
    width: 100%;
}

.img_item
{
    width: 31.3%;
    position: relative;
    font-size: 30px;
    margin: 12px auto 0;
}
.img_mini_item
{
    max-height: 40vw;
    position:relative;
    align-items: center; 
    margin-left: 1.3vw;
    margin: 12px auto 0;
    visibility: hidden;
}

.img_mini_item_alt
{
    max-height: 40vh;
    max-width: 20vw;
    position:relative;
    align-items: center; 
    margin-left: 1.3vw;
    margin: 12px auto 0;
}


.img_class
{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 70vh;
    max-height: 700vh;
    padding-top: 50px;
    padding: auto 0;
    background: linear-gradient( rgba(0, 64, 64, .55), rgba(128, 64, 0, .65) );
    background-size: cover;
    text-align: center;
    align-items: left;
}

.img_inner
{
   width: 100%;
    max-width: 100vw;
    margin: 0 auto;
}

.img_innerlist {
    width: 100%;
    max-height: 800vh;
    margin: 0 auto;
    background: rgba(128,0,0,.4));
}

.images_list
{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 40px;
    height: auto;
}

.size_img
{
    width: 20vw;
    position:relative;
    margin: 12px auto 0;
}
.size_img2
{
    width: 20vw;
    padding-left: 2vw; 
    position: static;
    margin: 0 3vh;
}


.btn 
{
    display: inline-block;
    vertical-align: top;
    padding: 8px 33px;
    border: 4px solid #444;
    color: #fff;
    text-transform: none;
    text-decoration: none;
    
    transition: background .1s
        linear, color 
}

.btn:hover
{
    color: #444;
    background-color: #080;
}